<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.iitdelhicampus">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- <uses-permission android:name="android.permission.BATTERY_STATS" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <!-- <uses-permission android:name="android.permission.FLASHLIGHT" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:foregroundServiceType="location"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.BottomTabActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MusterRoleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EmployeeShiftActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UserShiftActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EmployeeShiftListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ManagerDashBoardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity -->
        <!-- android:name=".activity.ClientActivity" -->
        <!-- android:label="@string/title_activity_client" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity
            android:name=".activity.DashBoardActivityKotlin"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- The API key for Google Maps-based APIs. -->
        <service android:name=".service.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/ic_launcher_background" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> &lt;!&ndash; [END fcm_default_icon] &ndash;&gt; -->
        <!-- &lt;!&ndash; [START fcm_default_channel] &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> &lt;!&ndash; <meta-data &ndash;&gt; -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id" /> -->
        <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="com.facebook.app.FacebookContentProvider184511045517713" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="wach" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity> <!-- Branch init -->
        <!-- <meta-data -->
        <!-- android:name="io.branch.sdk.BranchKey" -->
        <!-- android:value="key_live_ojA6mSW2lvGAi5FQOdXAOlenFskc31uW" /> -->
        <!-- <meta-data -->
        <!-- android:name="io.branch.sdk.BranchKey.test" -->
        <!-- android:value="key_test_fbD4kG8YpCVxb3yOJoZ0snehszcpW5Ql" /> &lt;!&ndash; Branch testing (TestMode "true" to simulate fresh installs on dev environment) &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="io.branch.sdk.TestMode" -->
        <!-- android:value="false" /> &lt;!&ndash; Branch install referrer tracking &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name="io.branch.referral.InstallListener" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.vending.INSTALL_REFERRER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <activity -->
        <!-- android:name="com.risebeamsuntory.activity.PDFViewerActivity" -->
        <!-- android:configChanges="keyboard|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="ibas.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths" /> -->
        <!-- </provider> -->

        <activity
            android:name=".activity.LoginWithNumberActivity2"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LoginWithNumberManagerActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.OTPVerificationActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.CountrySelectionActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.VerificationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity -->
        <!-- android:name=".activity.CountrySelectionActivity" -->
        <!-- android:configChanges="orientation|screenSize|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <activity
            android:name=".activity.DashBoardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DashBoardActivityKotlin2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GenderListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LocationFinderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PlaceAutocompleteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ExperienceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MultipleSelectionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.VisitTimingsActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.WeeklyOffActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SpecialitiesActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ReportIncidentActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TLProfileActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SiteObservationActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ScanQRCodeActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ScanQRCodeForAttendanceActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EmployeeListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LeaveListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ActivityListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AttendanceListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.POProfileActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.POReportIncidentActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CheckListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ClientReportActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ReviewIncidentActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.QRTaggingActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ScanQRandClientListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ClientsListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ClientReportListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MarkedAttendanceListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ReportAnIssue"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SiteObservationListActivity"
            android:configChanges="keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.MyBackgroundLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver android:name=".service.Receiver">
            <intent-filter>
                <action android:name="quit_action" />
            </intent-filter>
        </receiver>
    </application>

</manifest>